# TODO: Add your Stripe secret key
STRIPE_SECRET_KEY=sk_test_your_secret_key
# TODO: Add your Stripe webhook secret
STRIPE_WEBHOOK_SECRET=whsec_your_webhook_secret
# TODO: Add your PayPal client ID
PAYPAL_CLIENT_ID=your_paypal_client_id
